.wrapper-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

a.wrapper-item {
    color: white;
    transition: color 0.3s ease;
}

a.wrapper-item:hover,
a.wrapper-item:focus,
a.wrapper-item:active {
    text-decoration: none;
}
