.wrapper-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

a.wrapper-item {
    color: white;
    transition: color 0.3s ease;
}

a.wrapper-item:hover,
a.wrapper-item:focus,
a.wrapper-item:active {
    text-decoration: none;
}

.item-footer {
    font-size: 0.8rem;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
